<!DOCTYPE html>
<html>
  	<head>
		<title>Jeopardy Leaderboard</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<div id="mainContent">
			<div id="title">
				Jeopardy Leaderboard
			</div>
			<hr>
			<div id="scores">
				<table>
					<tr id="heading">
						<td>Name</td>
						<td>Score</td>
					</tr>

					<!-- Loop for displaying scores here -->
          <% for(var i = 0; i < scores.length; i++) { %>
  					<tr>
  						<td><%= scores[i].name %></td>
  						<td>$<%= scores[i].score %></td>
  					</tr>
          <% } %>
					<!-- end loop -->

				</table>
			</div>

		<br/>
		<hr>
		<br/>

		</div>
	</body>
</html>
